<!DOCTYPE html>
<html>
<head>
  <title>Authentic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row" id="menu">
      <% if signed_in? %>
        <div class="eight columns">
          <h5>Hola <%= current_user.name %>!</h5>
        </div>
        <div class="four columns" id="links">  
          <%= link_to_if(current_user.is_admin?, 'User List', users_path){} %>&nbsp;
          <%= link_to 'Edit profile', edit_user_path(current_user.id) %>&nbsp;
          <%= link_to 'Sign out', sign_out_path, method: :delete %>
        </div>
      <% else %>
        <div class="eight columns">
          &nbsp;
        </div>
        <div class="four columns" id="links">
          <%= link_to 'Sign in', new_session_path %>&nbsp;
          <%= link_to 'Sign up', new_user_path %>
        </div>
      <% end %>
  </div>
  <div id="messages">
    <h5><%= flash[:notice] %></h5>
  </div>

  <%= yield %>
</div>
</body>
</html>
