<!DOCTYPE html>
<html>
<head>
  <title>Authentic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="twelve column" id="menu">
      <% if signed_in? %>
        <h3>Hola <%= current_user.name %>!</h3>
        <%= link_to 'Edit profile', edit_user_path(current_user.id) %>
        <%= link_to 'Sign out', sign_out_path, method: :delete %>
      <% else %>
        <div id="sign_in">
          <%= link_to 'Sign in', new_session_path %>
        </div>
        <div id="sign_up">
          Don't have an account yet?
          <%= link_to 'Sign up', new_user_path %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="twelve column" id="messages">
    <h3><%= flash[:notice] %></h3>
  </div>

  <%= yield %>
</div>
</body>
</html>
